.bigsidebar {
  background-color: white;
  height: 100vh;
  padding-left: 3rem;
}

.bigHome img {
  width: 9rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.bigNavlinkList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bigNavLink {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigsidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
}

@media (max-width: 920px) {
  .bigsidebar {
    width: 250px;
  }
}
