.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadIcon {
  color: rgb(218, 2, 2);
  font-size: 3rem;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
